Q1. Explain with an example each when to use a for loop and a while loop.

In [4]:
'''A for loop is used when you want to iterate over a sequence of items,
such as a list, a tuple, a string, or a range. For example'''

# Print the numbers from 1 to 10 using a for loop
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
'''A while loop is used when you want to repeat a block of code 
until a certain condition is met. For example'''

# Print the numbers from 1 to 10 using a while loop
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [8]:
            #for loop
#To print the sum of the first 10 natural numbers using a for loop,

n = 10
sum = 0
for i in range(1, n+1):
    sum = sum + i
print ("The sum is: ", sum)

The sum is:  55

In [9]:
            #for
#To print the product of the first 10 natural numbers using a for loop,

n = 10
product = 1
for i in range(1, n+1):
    product = product * i
print ("The product is: ", product)

The product is:  3628800

In [10]:
            #using while loop
#To print the sum of the first 10 natural numbers using a while loop,

n = 10
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print ("The sum is: ", sum)

The sum is:  55

In [11]:
            #while loop
#To print the product of the first 10 natural numbers using a while loop

n = 10
i = 1
product = 1
while (i <= n):
    product = product * i
    i = i + 1
print ("The product is: ", product)

The product is:  3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [12]:
unit = int(input())
if (unit > 0 and unit <=100):
    print(int(100*4.5))
elif (unit > 100 and unit < 200):
    print(int((100*4.5)+(unit-100)*6))
elif (unit>200 and unit < 300):
    print(int((100*4.5)+(100*6)+(unit-300)*10))
elif (unit > 300):
    print(int((100*4.5)+(100*6)+(100*10)+(unit-300)*20))

 310

2250

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [14]:
print("\n using for loop\n")
my_list=[]
cube_ans=[]
for i in range(1,101):
    my_list.append(i)
    cube=i**3
    if(cube%4==0 or cube%5==0):
        cube_ans.append(i)
print("The list of cubes in 1 to 100 that are divided by 4 or 5 is : \n",cube_ans,end=" ")

##using while loop

print("\n using while loop\n")
i=1
while(i>=100):
    myl_ist.append(i)
    i+=1
    cube=i**3
    if(cube%4==0 or cube%5==0):
        cube_ans.append(i)
print("The list of cubes in 1 to 100 that are divided by 4 or 5 is : \n",cube_ans,end=" ")

 using for loop

The list of cubes in 1 to 100 that are divided by 4 or 5 is :
 [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]
 using while loop

The list of cubes in 1 to 100 that are divided by 4 or 5 is :
 [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [15]:
string = "I want to become a data scientist"
vowels="aeiouAEIOU"
count=0
for i in string:
    if(i in vowels):
        count+=1
print("The number of vowels in string:",count)

The number of vowels in string: 12